{% extends 'main.html' %}
{% load static %}

{% block title %}Older Post{% endblock title %}
{% block header-image %}{% static 'blog/images/older-post.jpg' %}{% endblock header-image %}

{% block article-heading %}Older Post{% endblock article-heading %}

{% block content %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
        {% for post in object_list %}        
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{% url 'post_detail' post.pk %}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">{{ post.author }}</a>
                        on {{ post.post_date }}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'home' %}">Back</a></div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock content %}